body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('sa.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.birthday-person {
    text-align: center;
}

.birthday-person img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    text-align: justify;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    color: #777;
    font-size: 14px;
}
